.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-box {
  background-color: var(--neutral-white);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 48px;
  max-width: 1440px;
  width: auto;
  flex-direction: column;
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .app-box {
    flex-direction: row;
  }
}
