.batches-container {
  box-sizing: border-box;
  margin-top: 16px;
  width: 100%;
}

.batches {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.batches-header {
  margin-bottom: 16px;
}

.batches-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  overflow: auto;
  height: 240px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .batches-container {
    width: 420px;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .batches-container {
    margin-top: 0;
    margin-left: 16px;
  }
}
