.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-box {
  background-color: var(--neutral-white);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  /* height: 55%; */
  width: 55%;
  padding: var(--padding);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
